#error {color:red;}
body {margin:0;}
main {
margin:32px auto;
max-width:800px;
}
p, input, button {
box-sizing: border-box;
border-radius: 10px;
width:400px;
padding:15px;
}
button {
margin-top:30px;
}
label {
  font-size:large;
  border:none;
}
.input {
  padding:10px;
  border:none;
}
.output {
  padding:10px;
}
p {
  margin:0;
  border:1px solid gray;
}
@media screen and (min-width: 600px) {
  body {
    background:white;
  }
  main {
    display:flex;
    flex-direction:row;
  }
}
@media screen and (max-width:800px) {
  body {
    background:lightgray;
  }
  main {
    display: flex;
    flex-direction:column;
  }
  .output {
    margin-top:40px;
  }
}
labe
